@charset "UTF-8";
body {
	background-color: #fffeee;
}
h1 {
	font-family: 'Hachi Maru Pop', cursive;
	color: #0bd;
}

h2 {
	font-family: fantasy;
	color: red;
}

p {
	color:red;
	font-family: cursive;
	font-size: 20px;
}
