@charset "UTF-8";
body {
	background-color: #30d5c8;
}
h1 {
	font-family: 'Hachi Maru Pop', cursive;
	color: #65e6ca;
}

h2 {
	font-family: 'Hachi Maru Pop', cursive;
	color: navy;
}

p {
	color: rgba(122,101,230,.2);
	font-family: "Nikukyu";
}
