@charset "utf-8";
.btn {
    margin: 100px;
    width: 150px;
    height: 30px;
    padding: 10px 30px;
    text-align: center;
    background-color: blue;
    color: white;
    display: block;
    text-decoration: none;
    box-shadow: 3px -3px skyblue;
    border-radius: 5px;
}
.btn:hover {
    background-color:black;
    color: yellow;
}
