@charset "utf-8";
.center_wrap {
    height: 100px;
    width: 500px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}