@charset "utf-8";
#doc {
    width: 1200px;
    margin: 30px 0;
    padding-left: 10px;
    border-left-style: solid;
    background-color: #ccffcc;
    font-weight: bold;
}

.return {
    margin-top: 10px;
}
.tag {
    margin-top: 20px;
    display: block;
    width: 100px;
    background-color: #33ffcc;
    text-align: center;
}
/*********************************/