@charset "utf-8";

.drop_wrap {
    width: 1000px;
    height: 300;
    font-size: 1.125rem;
    background-color: rgba(127,255,212,.4);
    margin-top: 10px;
}
.menu_lists {
    width: 800px;
    height: 300px;
    display: flex;
    padding: 20px 0 0 20px;
}
.menu_list {
    width: 150px;
    height: 40px;
    background-color: rgba(0,206,209,.7);
    position: relative;
}
.menu_list a {
    width: 100%;
    height: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_lists :not(:first-child) .menu_a {
    border-left-style: none;
} 
.menu_list a:hover {
    color: white;
    background-color: rgba(70,130,180,1);
}
.dropdown_lists {
    display: none;
    position:absolute;
    top: 40px;
}
.dropdown_list {
    width: 150px;
    height: 40px;
    background-color: rgba(0,206,209,.7);
}
.dropdown_lists:not(:first-child) a {
    border-top-style: none;
}
.menu_list:hover .dropdown_lists {
    display: block;
}