@charset "UTF-8";

/* 共通部分
-----------------------*/
html {
	font-size: 100%;
}

.sun {
	color: red;
}

.sat {
	color: blue;
}

.frame-box {
	width: 400px;
	margin: 5px 0 0 5px;
	padding: 10px 10px 10px 20px;
	background: #0bd;
	display: flex;
}


.diary-box {
	margin-left: 30px;
}

#diary_body {
	margin-top: 5px;
}