@charset "utf-8";

.wrap {
    margin-left: 20px;
}


/***** ｈｔｍｌ *****/
.html_tag {
    margin-top: 50px;
    width: 100px;
    height: 27px;
    padding-top: 6px;
    text-align: center;
    background-color: rgba(255,165,0,1);
    color: white;
    border-radius: 5px;
}
.html_doc {
    width: 1000px;
    margin-top: 23px;
    padding: 15px;
    border-left-style: solid;
    background-color: rgba(255,165,0,.2);
    font-weight: bold;
    border-radius: 0 5px 5px 0;
}
.html_cp_btn {
    display: block;
    margin-top: 23px;
    width: 60px;
    height: 23px;
    padding-top: 4px;
    font-size: .9rem;
    background-color: rgba(255,165,0,.5);
    border-radius: 5px;
    color: rgba(0,0,0,.8);
}
.html_cp_btn:hover {
    background-color: rgba(255,165,0,.7);
}


/***** ｃｓｓ *****/
.css_tag {
    margin-top: 55px;
    width: 100px;
    height: 27px;
    padding-top: 5px;
    background-color: rgba(0,165,221,1);
    text-align: center;
    color: white;
    border-radius: 5px;
}
.css_doc {
    width: 1000px;
    margin-top: 23px;
    padding: 15px;
    border-left-style: solid;
    background-color: rgba(0,165,221,.2);
    font-weight: bold;
    border-radius: 0 5px 5px 0;
}
.css_cp_btn {
    display: block;
    width: 60px;
    height: 23px;
    padding-top: 4px;
    margin-top: 23px;
    background-color: rgba(0,165,221,.5);
    border-radius: 5px;
    font-size: .9rem;
    color: rgba(0,0,0,.7);
}
.css_cp_btn:hover {
    background-color: rgba(0,165,221,.7);
}


/***** 戻る *****/
.return {
    margin: 50px 0;
    width: 60px;
    padding: 5px 3px 0px 3px;
    background-color: rgba(136,136,136,.4);
    border-radius: 5px;
    color: rgba(0,0,0,.7);
}
.return:hover {
    background-color: rgba(136,136,136,.6);
}
/*********************************/